<div class="productos-home-1">
    <p class="titulo-productos">Listado de categorias</p>
    <div class="div-boton" *ngIf="isLoggedIn()">
        <button class="boton" [routerLink]="['/pages/addArticle']" routerLinkActive="router-link-active">Añadir Articulo</button> 
    </div>
    <table class="table table-bordered table-striped table-hover" >
    <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Category</th>
        <th>Stock</th>
        <div *ngIf="isLoggedIn">
            <th *ngIf="isLoggedIn">Opciones</th>
        </div>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of lista">
        <td>{{ categoria.id }}</td>
        <td>
            {{categoria.name}}
        </td>
        <td>{{ categoria.description }}</td>
        <td>{{ categoria.price }}</td>
        <td>{{ categoria.category.id }}</td>
        <td>{{ categoria.stock }}</td>
        <div *ngIf="isLoggedIn()">
            <td>
            <button type="button" class="btn btn-outline-danger" style="margin-left: 10px;" (click)="deleteArticulo(categoria.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg> Borrar articulo</button></td>
        </div>
        <div *ngIf="isLoggedIn()">
          <button type="button" class="btn btn-outline-danger" style="margin-left: 10px;" [routerLink]="['/pages/editArticle',categoria.id]" routerLinkActive="router-link-active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
          </svg> Editar articulo</button>
            </div>

        <div *ngIf="isLoggedIn()">
            <button type="button" class="btn btn-outline-danger" style="margin-left: 10px;"(click)="comprar()" routerLinkActive="router-link-active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg> Comprar Articulo</button>
        </div>
        </tr>
    </tbody>
    </table>
</div>
