<div class="container-login">
    <div class="container-form">
      <p class="titulo-login">Nueva categoria</p>
  
      <form class="form-login" (ngSubmit)="addCategoria()" [formGroup]="myForm" autocomplete="off">
        <div class="elemento-form">
            <input type="text"
            class="input-nombre"
            placeholder="Nombre de la nueva categoria"
            formControlName="name">
            <p class="form-text text-danger"
                *ngIf="isValidField('name')">
                     Debe tener 3 caracteres como mínimo
            </p>
        </div>
        <br>
        <br>
        <div class="elemento-form-textarea">
            <textarea type="text"
            placeholder="Descripcion de la nueva categoria"
            formControlName="description"></textarea>
            <p class="form-text text-danger"
                *ngIf="isValidField('description')">
                    Debe tener 10 caracteres como mínimo
            </p>
        </div>
        <div class="grid-botones">
          <button class="boton" type="submit">Guardar cambios</button>
          <button class="boton-cancelar" type="button" [routerLink]="['/pages/category']">Cancelar</button>
        </div>

      </form>
    </div>
  </div>