<div class="grid">
    <div class="parrafo">
        <h1>Bienvenidos a tu pagina de deportes de confianza</h1>
    </div>
    <div class="card mb-3 todo1">
        <img src="assets/deporte.jpg" class="card-img-top" alt="..." width="500px">
        <div class="card-body">
          <h5 class="card-title">Deportes</h5>
          <p class="card-text">Conoce nuestro producto, traemos los mejores ropas deportivas</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3 todo2">
        <img src="assets/coleccionDeporte.jpeg" class="card-img-top" alt="..." width="500px">
        <div class="card-body">
          <h5 class="card-title">Para hombres y mujeres</h5>
          <p class="card-text">Conoce nuestro producto, tenemos para ropa de todo tipo</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3 todo3">
        <img src="assets/marcas.png" class="card-img-top" alt="..." width="500px">
        <div class="card-body">
          <h5 class="card-title">Marcas</h5>
          <p class="card-text">Trabajamos con las mejores marcas</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>
