<footer id="footer">
    <div class="grid">
        <br>
        <br>
        <div class="image">
            <a href="index.html"><img src="assets/logo.png" width="100px"></a>
        </div>
        <div class="products">
            <h3><a href="hairCutPage.html">Productos</a></h3>
        </div>
        <div class="portraits">
            <h3><a href="imageGallery.html">Cosmeticos</a></h3>
        </div>
        <div class="aboutUs">
            <h3><a href="aboutUs.html">Sobre nosotros</a></h3>
        </div>
        <div class="contact">
            <h3><a href="locationContact.html">Contacto</a></h3>
        </div>
        <div class="location">
            <h3><a href="locationContact.html">Localización</a></h3>
        </div>
        <div class="socialmedia">
            <a href="instagram.com"><img src="assets/insta.png" width="80px"></a>
            <a href="instagram.com"><img src="assets/twitte.png" width="80px"></a>
            <a href="instagram.com"><img src="assets/gmai.png" width="80px"></a>
        </div>
        <div class="locationDescription">
            <p>Calle Matallana Nº 10</p>
        </div>
        <div class="services">
            <a href="https://policies.google.com/privacy?hl=es"><p>Este sitio esta protegido por Google: Privacy Policy | Terms of Service</p></a>
        </div>
    </div>
</footer>